body{
  padding: 0px;
  margin: 0px;
}

.hr-web{
  padding: 0px!important;
  margin: 0px!important;
}

/* Table CSS */
.sr_no{
  width:50px !important;
}

.head-nav .nav-link{
  font-size: 16px;
  color: #fff!important;
}

.bg-facebook{
  background-color: #3b5998!important;
}

.navbar-top{
  padding: 3px 30px;
  margin: 0px;
  background-color: #3b5998;
}
.navbar-brand{
  color: #fff!important;
  width: 450px!important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.top-label{
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.heading{
      background-color: #e2e6f1;
}
.heading h1{
  font-size: 1.2rem;
  padding-top: 10px;
  padding-bottom: 8px;
}

.heading h1:after{
  border-bottom: 4px solid #dc3545;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      width: 8%;
      bottom: 0%;
      margin: 0 auto;
}


.form-control{
  /* padding: 2px 3px!important; */
}
.top-input{
  padding: 0px !important;
  margin-top: 5px !important;
}

.btn-web{
  padding: 2px 5px!important;
}

.logo-img{
  margin-top: 0px;
  width: 100%;
  height: 60px;
}

.navbar{
  padding: 0px 16px 0px 16px!important;
}

.company-img{
  width: 100%;
  height: 400px;
  padding: 0px 40px 40px 40px;
}

.login-section {
  min-height:calc(100vh - 60px);
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #DFE3EE;
}

.drop-width{
  width: 100%;
  overflow-x: hidden;
  opacity: 1;
}

.italic {
  font-style: italic;
}
.login-section h2{
font-size: 32px;

padding-top: 10px;
padding-bottom: 10px;
text-align: center;
font-weight: bold;
color: #000;
}

.input-login{
  padding: 0px 10px 30px 40px;
}

footer{
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #F5F5F5;
  border-top: 1px solid #000;
      background-color: #e2e6f1;
}

footer h4{
  font-size: 26px;
  text-align: left;
  padding-left: 30px;
}

.ul-m li{
  font-size: 16px;
  text-align: left;
  color: #696969;
  line-height: 27px;
}
.ul-m a{
    color: #696969;
}

footer p{
  color: #696969;
}

footer .bottom{
  font-size: 16px;
  border-top: 1px solid #5A5858;
  padding-top: 10px;
}
footer .bottom a{
color: #696969;
}

.profile-div{
  padding: 0px 10px 10px 10px;
}

.profile-desc{
  padding-left: 15px;
}

.profile-desc p{
margin-bottom: 0px !important;
}

.profile-desc .profile-img{
height: 50%;
}

.profile-page{
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #e2e6f1;
}

.table-profile, .table-profile tr{
  border: 1px solid #000;
}
.no-left-border{
  border-left :0px!important;
}
.no-right-border{
  border-right :0px!important;
}
.btn-big{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: Green;
  padding-left: 20px;
  padding-right: 20px;
  border-color: Green;
}
.btn-big{

}

.btn-middle{
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: Green;
  padding-left: 10px;
  padding-right: 10px;
  border-color: Green;
}
.btn-middle{

}

.no-padding{
  padding: 0px!important;
}

.bottom-section{
  padding-top: 50px;
  padding-bottom: 50px;
}
.border-group{
  border: 1px solid green;
  padding: 8px;
  margin-bottom: 20px;
}

.svg{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  color: Green;
}

.tab-div{
  margin-bottom: 25px;
  padding:8px 15px 8px 15px;
  box-shadow: 2px 2px 3px 3px #ccc;
  background-color: #eff2f5;
}

.active-table{
  background-color: #e9ebee !important;
}

.tab-div .table{
  margin-bottom: 0px;
}

.font-16{
  font-size: 16px!important;
}

.font-12{
  font-size: 12px !important;
}

.tab-div:hover{
  margin-bottom: 25px;
  padding:8px 15px 8px 15px;
  box-shadow: 2px 2px 5px 5px #ccc;
}

.btn-search{
  border-radius: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.search-div{
  border: 1px solid #ccc;
  padding: 40px;
  margin-top: -80px!important;
  margin: 15px;

}

.text-danger{
  color: #dc3545;
}

.mail{
  padding: 15px;
}

.contact{
    background-color: #e2e6f1;
  padding-top: 10px;
  padding-bottom: 15px;
}

.policy{
  padding-top: 50px;
  padding-bottom: 50px;
}

.pack-cart{
text-align: center;
}

#pack-page{
  margin-top: 30px!important;
  height: 500px;
 /* background-color: #4ABDAC; /* For browsers that do not support gradients */ */
 /* background-image: linear-gradient(to bottom right, #4ABDAC, #fff); /* Standard syntax (must be last) */ */
 width: 100%;
 /* height: 200px; */
 background: linear-gradient(170deg, #4ABDAC 50%, #fff 50%);
}

.radius-20{
  border-radius: 20px!important;
}

.active-table th{
  padding-top: 0.25rem!important;
  padding-bottom: 0.25rem!important;
  font-size: 14px;
}

.active-table td{
  padding-top: 0.25rem!important;
  padding-bottom: 0.25rem!important;
  font-size: 14px;
}
.active-mem-img{
  width: 152px!important;
  height: 165px!important;
  margin-left: 30px;
}

.profile-img{
  margin-left: auto;
  margin-right: auto;
}

.no-top-border{
  border-top: 0px!important;
}


.center{
  margin-left: auto;
  margin-right: auto;
}

.adv{
  margin-bottom: 10px;
  margin-top: 10px;
}

.profile-table-left p{
    color: #fff;
    margin-bottom: 5px;
    font-size: 14px;
  }
.no-left-right-padding{
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.no-left-padding{
  padding-left: 0px!important;
}


  .card-red{
    /* background-color: #e91e63; */
    background-color: #e9ebee;
    /* background-color: #e2e6f1; */
  }

  .btn-profile{
    margin-top: 12px;
    background-color: #fff;
    color: #e91e63;
    border-radius: 0px!important;
    border-color: #fff;
    font-size: 14px;
  }

  .btn-profile:hover{
    background-color: #2b2b2c!important;
    color: #fff!important;
    border-radius: 0px!important;
    border-color: #2b2b2c!important;
  }


  .white{
    color: #fff!important;
    background-color: #fff!important;
  }

  .profile-div .frist{
    padding: 10px;
     border: 1px solid #ccc;
     margin-bottom: 30px;
     background-color: #e9ebee;
 }

   .profile-div .frist:hover{
      box-shadow: 2px 2px 3px 3px #ccc;
  }

  .profile-div .second{
    padding: 10px;
    border: 1px solid #ccc;
  margin-bottom: 30px;
 }

   .profile-div .second:hover{
      box-shadow: 2px 2px 3px 3px #ccc;
  }

  .profile-div .third{
    padding: 10px;
     border: 1px solid #ccc;
      margin-bottom: 30px;
      background-color: #e9ebee;
 }

   .profile-div .third:hover{
      box-shadow: 2px 2px 3px 3px #ccc;
  }

  .profile-main-img{
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .profile-div .table th{
    padding: 0.40rem;
    font-size: 14px;
  }
  .profile-div .table td{
    padding: 0.40rem;
    font-size: 14px;
  }

  .inline li{
    display: inline!important;
    padding-right: 20px;
    font-size: 14px;
  position: relative;
  }


.inline ul li:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .inline ul li:hover:after {
    width: 100%;
    left: 0;
  }


  a{
    text-decoration: none!important;
    color: #000;
  }

  a:hover{
    color: #000;
  }

  .owl-carousel img{
    padding: 20px 20px 10px 20px !important;
  }

  .btn-modal:focus {
    box-shadow: none !important;
  }

  .select2{
    width:auto !important;
  }

  .txt-pink{
    color: #e91e63 !important;
  }

  .tbl_mem_info td{
    width: 25% !important;
  }

  .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0px !important;
}

.act_btn{
  width:auto !important;
  font-size: 13px !important;
}


.profile-page p{
  font-size: 15px !important;
}

.f-18{
  font-size: 18px !important;
}

.inline{
  display: inline;
  list-style-type:none;

}

/* .navbar-collapse .active{
  background-color: #0062cc;
} */

.navbar-collapse .nav-item:hover{
  background-color: #0062cc;
}

.navbar-collapse .active{
  background-color: #0062cc;
}

/* Chat Box */

.direct-chat-messages {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    height: calc(100vh - 300px);
    overflow: auto;
    padding: 10px;
}

.direct-chat-success .right>.direct-chat-text {
    background: #F5FFD2;
    border-color: #F5FFD2;
    color: #000;
}
.direct-chat-success .right>.direct-chat-text::after, .direct-chat-success .right>.direct-chat-text::before {
    border-left-color: #F5FFD2;
}

.direct-chat-text {
    border-radius: .3rem;
    background: #D2FFF8;
    border: 1px solid #D2FFF8;
    color: #444;
    margin: 5px 0 0 50px;
    padding: 5px 10px;
    position: relative;
}

.direct-chat-text::after, .direct-chat-text::before {
    border: solid transparent;
    border-right-color: #D2FFF8;
    content: ' ';
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 15px;
    width: 0;
}


@media only screen and (max-width: 418px) {
  .logo-img{
    margin-top: 20px;
    width: 100%;
    height: auto;
  }

  .nav-item{
    text-align: center;
  }

    .login-section{
      height:auto;
    }

  .login-section h2{
  font-size: 26px;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
  }


  .company-img{
    width: 100%;
    height: auto;
    padding: 15px;
  }

  .padding-8{
    padding-top: 8px;
    padding-bottom: 0px;
  }

  .margin-8{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .input-login{
    padding: 10px 25px;
  }

  footer h4{
    text-align: center;
    padding: 10px  20px!important;
  }
.ul-m{
  padding: 0px 10px!important;
}

  .ul-m li{

    text-align: center;
  }
  .ul-m a{
      color: #696969;
  }

  footer p{
    padding: 5px 15px;
    color: #696969;
    text-align: center;
  }

  footer .bottom{
    font-size: 16px;
    border-top: 1px solid #5A5858;
    padding-top: 10px;
  }

  .tbl_mem_info{
    width: 100%;
  }

  .tbl_mem_info td{
    overflow: scroll;
  }

  .active-mem-img{
    width: 100%!important;
    height: Auto;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .inline{
    padding-top: 10px;
    padding-left: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    list-style-type:none;
  }
    .inline .act_btn{
      width: 100%;
      margin-top: 12px!important;
    }

    .navbar-brand{
      width: 220px!important;
    }
    .logo-img{
      margin: 10px!important
    }

    .navbar-toggler{
      color: #fff!important;
      border-color: #fff!important;
    }

    .policy {
      padding-left: 15px;
      padding-right: 15px;
    }
    .policy h1{
      font-size: 26px;
    }

    .policy  p{
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    }
}
